/* ==========================================================================
   CSS for Customizer Custom Controls
   ========================================================================== */

/* ==========================================================================
   Standard Selection
   ========================================================================== */
.customize-control select,
.select2-container--default .selection .select2-selection--single {
	border: none;
	background-color: #fcfcff;
	position: relative;
	border-radius: 0;
	height: 27px;
	line-height: 27px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-customizer .select2-container--default .selection .select2-selection--multiple {
	border: none;
	background-color: #fcfcff;
	border-radius: 0;
	height: auto;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-customizer .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	width: 95%;
}

.wp-customizer .select2-container--default .select2-selection--multiple .select2-selection__clear {
	position: absolute;
	right: 0;
}

.wp-customizer .select2-container .select2-dropdown {
	z-index: 900000;
}

.customize-control select:active,
.customize-control select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* ==========================================================================
   Standard Input
   ========================================================================== */
input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="date"] {
	background-color: #fcfcff;
	position: relative;
	border-radius: 0;
	border: 1px solid #eee;
	height: 27px;
	line-height: 27px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="number"]:active,
input[type="number"]:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* ==========================================================================
   Simple Notice
   ========================================================================== */

.simple-notice-custom-control .customize-control-description {
	line-height: 1.6
}

.simple-notice-custom-control code {
	font-size: 90%;
	padding: 2px 4px;
}

/* ==========================================================================
   Textarea/TinyMCE
   ========================================================================== */
.tinymce-control textarea {
	width: 100%;
	padding: 10px;
}

/* ==========================================================================
   Text Radio Buttons
   ========================================================================== */
.text_radio_button_control:after {
	content: " ";
	display: block;
	clear: both;
}

.text_radio_button_control .radio-buttons {
	display: inline-block;
	border: 1px solid #f9f9fe;
}

.text_radio_button_control .radio-button-label {
	cursor: pointer;
	float: left;
}

.text_radio_button_control .radio-button-label > input {
	display: none;
}

.text_radio_button_control .radio-button-label span {
	cursor: pointer;
	font-weight: 500;
	border: 2px solid #f9f9fe;
	margin: 0;
	background-color: #eee;
	padding: 5px 15px;
	display: inline-block;
}

.text_radio_button_control .radio-button-label span:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #2885bb;
}

.text_radio_button_control .radio-button-label > input:checked + span {
	background-color: #2084bd;
	color: #fff;
}

.text_radio_button_control .radio-button-label > input:checked + span:hover {
	color: #fff;
}

/* ==========================================================================
   Image Radio Buttons
   ========================================================================== */
.image_radio_button_control .radio-button-label > input {
	display: none;
}

.image_radio_button_control .radio-button-label > img {
	cursor: pointer;
	border: 3px solid #ddd;
}

.image_radio_button_control .radio-button-label > input:checked + img {
	border: 3px solid #2885bb;
}

#customize-controls .image_radio_button_control .radio-button-label > img {
	max-width: 70px;
}

/* ==========================================================================
   Image Checkboxes
   ========================================================================== */
.image_checkbox_control .checkbox-label > input {
	display: none;
}

.image_checkbox_control .checkbox-label > img {
	cursor: pointer;
	border: 3px solid #ddd;
}

.image_checkbox_control .checkbox-label > input:checked + img {
	border: 3px solid #2885bb;
}

#customize-controls .image_checkbox_control .checkbox-label > img {
	max-width: 70px;
}

/* ==========================================================================
   Pill Checkboxes
   ========================================================================== */
.pill_checkbox_control .checkbox-label > input {
	display: none;
}

.pill_checkbox_control .checkbox-label > .sortable-pill-title {
	box-sizing: border-box;
	cursor: pointer;
	background-color: #ddd;
	padding: 5px 15px;
	border-radius: 20px;
	font-size: 1rem;
	display: inline-block;
	margin-bottom: 5px
}

.pill_checkbox_control .sortable .checkbox-label > .sortable-pill-title {
	cursor: move;
}

.pill_checkbox_control .sortable.fullwidth_pills .checkbox-label > .sortable-pill-title {
	cursor: pointer;
}

.pill_checkbox_control .checkbox-label > input:checked + .sortable-pill-title { 
	background-color: #2084bd;
	color: #fff;
}

.pill_checkbox_control .checkbox-label > input:checked + .sortable-pill-title:before { 
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: dashicons;
	font-weight: normal;
	font-size: 24px;
	content: "\f147";
	margin-left: -10px;
	vertical-align: bottom;
}

.pill_checkbox_control .fullwidth_pills .checkbox-label > .sortable-pill-title {
	width: 100%;
	border-radius: 0;
}

.pill_checkbox_control .sortable.fullwidth_pills .checkbox-label > .sortable-pill-title {
	width: 90%;
}

.pill-ui-state-highlight {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 20px;
	font-size: 1rem;
	border: 1px dotted #2084bd;
	margin-bottom: 5px;
	height: 16px;
}

.pill_checkbox_control .sortable_pills .pill-ui-state-highlight {
	width: 50px;
	border-radius: 20px;
}

.pill_checkbox_control .sortable_pills.fullwidth_pills .pill-ui-state-highlight {
	width: 90%;
	border-radius: 0;
}

.pill_checkbox_control .dashicons-sort {
	margin: 5px 0 0 1px;
	color: #d4d4d4;
	cursor: move;
}

.pill_checkbox_control .dashicons-sort:hover {
	color: #a7a7a7;
}

.pill_checkbox_control .sortable_pills.fullwidth_pills .ui-sortable-helper {
	width: calc(100% - 25px) !important;
}

/* ==========================================================================
   Slider
   ========================================================================== */
.slider-custom-control {
	margin-bottom: 30px;
}

.slider-custom-control input[type=number]::-webkit-inner-spin-button,
.slider-custom-control input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.slider-custom-control input[type=number] {
	-moz-appearance: textfield;
}

.slider-custom-control  .customize-control-title {
	display: inline-block;
}

.slider-custom-control input[type=number] {
	text-align: right;
	width: 50px;
	float: right;
}

.slider-custom-control .slider {
	width: 85%;
	float: left;
	margin: 20px 0 10px;
}

.slider-custom-control .slider-reset {
	float: right;
	cursor: pointer;
}

.slider-custom-control .slider-value {
	border: none;
	text-align: right;
	width: 50px;
	margin-right: 5px;
}

.slider-custom-control .slider-value,
.slider-custom-control .slider-unit {
	float: right;
}

.slider-custom-control .ui-widget.ui-widget-content {
	border: 1px solid #f4f4f4;
}

.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-bottom,
.slider-custom-control .ui-corner-right,
.slider-custom-control .ui-corner-br {
	border-bottom-right-radius: 3px;
}

.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-bottom,
.slider-custom-control .ui-corner-left,
.slider-custom-control .ui-corner-bl {
	border-bottom-left-radius: 3px;
}

.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-top,
.slider-custom-control .ui-corner-right,
.slider-custom-control .ui-corner-tr {
	border-top-right-radius: 3px;
}

.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-top,
.slider-custom-control .ui-corner-left,
.slider-custom-control .ui-corner-tl {
	border-top-left-radius: 3px;
}

.slider-custom-control .ui-widget-content {
	background: #fff none repeat scroll 0 0;
	color: #333;
}

.slider-custom-control .ui-slider-horizontal {
	height: 3px;
}

.slider-custom-control .ui-slider {
	position: relative;
	text-align: left;
}

.slider-custom-control .ui-state-default,
.slider-custom-control .ui-widget-content .ui-state-default,
.slider-custom-control .ui-widget-header .ui-state-default,
.slider-custom-control .ui-button,
.slider-custom-control .ui-button.ui-state-disabled:hover,
.slider-custom-control .ui-button.ui-state-disabled:active {
	background: #2885bb none repeat scroll 0 0;
	border: 1px solid #2885bb;
	color: #454545;
	font-weight: normal;
}

.slider-custom-control .ui-slider-horizontal .ui-slider-handle {
	margin-left: -7px;
	top: -7px;
	border-radius: 50%;
}

.slider-custom-control .ui-slider .ui-slider-handle {
	cursor: pointer;
	height: 14px;
	position: absolute;
	width: 14px;
	z-index: 2;
}

.slider-custom-control .dashicons-image-rotate {
	margin-top: 10px;
	color: #d4d4d4;
	size: 16px;
}

.slider-custom-control .dashicons-image-rotate:hover {
	color: #a7a7a7;
}

/* ==========================================================================
   Toggle Switch
   ========================================================================== */
.toggle-switch-control .customize-control-title {
	display: inline-block;
}

.toggle-switch {
	position: relative;
	width: 64px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	float: right;
}

.toggle-switch .toggle-switch-checkbox {
	display: none;
}

.toggle-switch .toggle-switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 0;
	margin: 0;
}

.toggle-switch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 22px;
	padding: 0;
	line-height: 22px;
	font-size: 20px;
	color: white;
	font-family: dashicons;
	font-weight: bold;
	box-sizing: border-box;
}

.toggle-switch-inner:before {
	content: "\f147";
	padding-left: 8px;
	background-color: #2885bb;
	color: #fff;
}

.toggle-switch-inner:after {
	content: "\f158";
	padding-right: 8px;
	background-color: #eee;
	color: #999;
	text-align: right;
}

.toggle-switch-switch {
	display: block;
	width: 16px;
	margin: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 38px;
	border: 2px solid #ddd;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
	margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
	right: 0px;
}

/* ==========================================================================
   Sortable Repeater
   ========================================================================== */
.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sortable input[type="text"] {
	margin: 5px 5px 5px 0;
	width: 80%;
}

.sortable div {
	cursor: move;
}

.customize-control-sortable-repeater-delete {
	color: #d4d4d4;
}

.customize-control-sortable-repeater-delete:hover {
	color: #f00;
}

.customize-control-sortable-repeater-delete .dashicons-no-alt {
	text-decoration: none;
	margin: 8px 0 0 0;
	font-weight: 600;
}

.customize-control-sortable-repeater-delete:active,
.customize-control-sortable-repeater-delete:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.repeater .dashicons-sort {
	margin: 8px 5px 0 5px;
	color: #d4d4d4;
}

.repeater .dashicons-sort:hover {
	color: #a7a7a7;
}

/* ==========================================================================
   Single Accordion
   ========================================================================== */
.single-accordion-toggle {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	padding: 10px 5px 5px 0;
	cursor: pointer;
}

.accordion-icon-toggle {
	font-size: 18px;
	margin-left: 5px;
	margin-top: 5px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.single-accordion-toggle-rotate .accordion-icon-toggle {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=-0.5);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
}

.single-accordion {
	display: none;
}

.single-accordion ul {
	margin: 0;
	padding: 0;
}

.single-accordion li {
	background-color: #e4e4e4;
	color: #888;
	width: 115px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.single-accordion li i {
	margin-left: 5px;
}

/* ==========================================================================
   Alpha Color Picker
   ========================================================================== */
.customize-control-alpha-color .wp-picker-container .iris-picker {
	border-bottom:none;
}

.customize-control-alpha-color .wp-picker-container {
	max-width: 257px;
}

.customize-control-alpha-color .wp-picker-open + .wp-picker-input-wrap {
	width: 100%;
}

.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
	float: left;
	width: 195px;
}

.customize-control-alpha-color .wp-picker-input-wrap .button {
	margin-left: 0;
	float: right;
}

.wp-picker-container .wp-picker-open ~ .wp-picker-holder .alpha-color-picker-container {
	display: block;
}

.alpha-color-picker-container {
	border: 1px solid #dfdfdf;
	border-top: none;
	display: none;
	background-color: #fff;
	padding: 0 11px 10px;
	position: relative;
}

.alpha-color-picker-container .ui-widget-content,
.alpha-color-picker-container .ui-widget-header,
.alpha-color-picker-wrap .ui-state-focus {
	background: transparent;
	border: none;
}

.alpha-color-picker-wrap a.iris-square-value:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.alpha-color-picker-container .ui-slider {
	position: relative;
	z-index: 1;
	height: 24px;
	text-align: center;
	margin: 0 auto;
	width: 88%;
	width: calc( 100% - 28px );
}

.alpha-color-picker-container .ui-slider-handle,
.alpha-color-picker-container .ui-widget-content .ui-state-default {
	color: #777;
	background-color: #fff;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	position: absolute;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: -2px;
	top: 0;
	height: 26px;
	width: 26px;
	cursor: ew-resize;
	font-size: 0;
	padding: 0;
	line-height: 27px;
	margin-left: -14px;
}
.alpha-color-picker-container .ui-slider-handle.show-opacity {
	font-size: 12px;
}

.alpha-color-picker-container .click-zone {
	width: 14px;
	height: 24px;
	display: block;
	position: absolute;
	left: 10px;
}

.alpha-color-picker-container .max-click-zone {
	right: 10px;
	left: auto;
}

.alpha-color-picker-container .transparency {
	height: 24px;
	width: 100%;
	background-color: #fff;
	background-image: url(../images/color-picker-transparency-grid.png);
	box-shadow: 0 0 5px rgba(0,0,0,0.4) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
	margin-top: -24px;
}

@media only screen and (max-width: 782px) {
	.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
		width: 184px;
	}
}

@media only screen and (max-width: 640px) {
	.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
		width: 172px;
		height: 33px;
	}
}

/* ==========================================================================
   Alpha Color Picker & Standard Color Picker
   ========================================================================== */
.customize-control-color .wp-color-result,
.customize-control-alpha-color .wp-color-result {
	box-shadow: none;
}

.customize-control-color .wp-color-result .wp-color-result-text,
.customize-control-alpha-color .wp-color-result .wp-color-result-text {
	border-left: none;
}

.wp-picker-holder .iris-picker .iris-palette {
	box-shadow: none;
}

.wp-picker-container .iris-picker,
.wp-picker-container .alpha-color-picker-container {
	border-radius: 0;
	border: none;
}

.wp-picker-container .alpha-color-picker-container {
	width: 233px;
}

/* ==========================================================================
   WPColorPicker Alpha Color Picker
   ========================================================================== */
.customize-control-wpcolorpicker-alpha-color .wp-color-result {
	box-shadow: none;
}

.customize-control-wpcolorpicker-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker {
	float: left;
	width: 195px !important;
}

.customize-control-wpcolorpicker-alpha-color .wp-color-result .wp-color-result-text {
	border-left: none;
}

.customize-control-wpcolorpicker-alpha-color .iris-picker-inner .iris-slider,
.customize-control-wpcolorpicker-alpha-color .iris-picker-inner .iris-alpha-slider,
.customize-control-two-color-gradient .iris-picker-inner .iris-alpha-slider {
	width: 17.6px !important;
}

/* ==========================================================================
   Google Fonts Select
   ========================================================================== */
.google_fonts_select_control .google-fonts,
.google_fonts_select_control .weight-style {
	margin-bottom: 10px;
}

/* ==========================================================================
   Divider
   ========================================================================== */
#customize-theme-controls .simple-divider-custom-control {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

#customize-theme-controls .simple-divider-custom-control::before {
	content: ' ';
}

#customize-theme-controls .simple-divider-custom-control::after {
	content: ' ';
	border-top: 1px solid #ddd;
	left: -20%;
	position: absolute;
	width: 140%;
}

#customize-theme-controls .simple-divider-custom-control.simple-divider-type-dashed::after {
	border-top: 1px dashed #ddd;
}

#customize-theme-controls .simple-divider-custom-control.simple-divider-type-dotted::after {
	border-top: 1px dotted #ddd;
}

#customize-theme-controls .simple-divider-custom-control.simple-divider-type-double::after {
	border-top: 3px double #ddd;
}

#customize-theme-controls .simple-divider-custom-control.simple-divider-width-default::after {
	width: calc(100% - 24px);
	left: 12px;
}

#customize-theme-controls .simple-divider-custom-control.simple-divider-width-half::after {
	width: 50%;
	left: calc(25% - 12px);
}

/* ==========================================================================
   Upsell Section
   ========================================================================== */
#customize-theme-controls #accordion-section-upsell_section {
	display: block !important;
}

#customize-theme-controls .upsell-section-title {
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	border-left: 4px solid #fff;
	transition: 0s color ease-in-out,0s background-color ease-in-out,0s border-color ease-in-out;
	margin: 0;
	padding: 0;
	position: relative;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#customize-theme-controls .upsell-section-title::after {
	position: absolute;
	top: 12px;
	right: 10px;
	z-index: 1;
	content: "\f345";
	font: normal 20px/1 dashicons;
	speak: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

#customize-theme-controls .upsell-section-title a {
	display: block;
	padding: 12px 15px 15px;
	line-height: 21px;
	text-decoration: none;
}

/* Style codes for Laura Theme */
/* Laura Icons */
@font-face {
	font-family: 'laura';
	src: url('../../../assets/icons/laura.woff2') format('woff2'),
	url('../../../assets/icons/laura.woff') format('woff'),
	url('../../../assets/icons/laura.ttf') format('truetype'),
	url('../../../assets/icons/laura.svg') format('svg');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
[class^="i-"],
[class*=" i-"] {
	/* noinspection CssNoGenericFontName */
	font-family: 'laura';
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.i-heart:before {
	content: "\f004";
}
.i-heart-solid:before {
	content: "\f005";
}
.i-newspaper:before {
	content: "\f1ea";
}
.i-list:before {
	content: "\e900";
}
.i-info:before {
	content: "\f05a";
}
.i-menu:before {
	content: "\e87a";
}
.i-settings:before {
	content: "\f013";
}
.i-loading:before {
	content: "\f110";
}
.i-reply:before {
	content: "\f3e5";
}
.i-edit:before {
	content: "\f044";
}
.i-chevron-up:before {
	content: "\f077";
}
.i-chevron-right:before {
	content: "\f054";
}
.i-chevron-down:before {
	content: "\f078";
}
.i-chevron-left:before {
	content: "\f053";
}
.i-arrows-alt:before {
	content: "\f0b2";
}
.i-expand:before {
	content: "\f065";
}
.i-close:before {
	content: "\f00d";
}
.i-bars:before {
	content: "\f0c9";
}
.i-search:before {
	content: "\f002";
}
.i-plus:before {
	content: "\f0fa";
}
.i-square-plus:before {
	content: "\f0fe";
}
.i-check:before {
	content: "\f00c";
}
.i-user:before {
	content: "\f007";
}
.i-user-pen:before {
	content: "\f4ff";
}
.i-bookmark:before {
	content: "\f02e";
}
.i-bookmark-solid:before {
	content: "\e902";
}
.i-thumbs:before {
	content: "\f164";
}
.i-thumbs-solid:before {
	content: "\f165";
}
.i-up:before {
	content: "\f30c";
}
.i-up-solid:before {
	content: "\f31c";
}
.i-share:before {
	content: "\f064";
}
.i-comment:before {
	content: "\f075";
}
.i-comment-dots:before {
	content: "\f076";
}
.i-comments:before {
	content: "\f086";
}
.i-calendar:before {
	content: "\f133";
}
.i-eye:before {
	content: "\f06e";
}
.i-clock:before {
	content: "\f017";
}
.i-caret-right:before {
	content: "\f0da";
}
.i-rss:before {
	content: "\f09e";
}
.i-bell:before {
	content: "\f0f3";
}
.i-envelope:before {
	content: "\f0e0";
}
.i-paper-plane:before {
	content: "\f1d8";
}
.i-thumbtack:before {
	content: "\f08d";
}
.i-image:before {
	content: "\f03e";
}
.i-gallery:before {
	content: "\e904";
}
.i-play:before {
	content: "\f04b";
}
.i-volume-high:before {
	content: "\e903";
}
.i-quote:before {
	content: "\f10d";
}
.i-link:before {
	content: "\f0c1";
}
.i-external-link:before {
	content: "\f08e";
}
.i-lock:before {
	content: "\f023";
}
.i-globe:before {
	content: "\f0ac";
}
.i-print:before {
	content: "\f02f";
}
.i-500px:before {
	content: "\f26e";
}
.i-behance:before {
	content: "\f1b4";
}
.i-deviantart:before {
	content: "\f1bd";
}
.i-discord:before {
	content: "\f392";
}
.i-dribbble:before {
	content: "\f17d";
}
.i-etsy:before {
	content: "\f2d7";
}
.i-facebook:before {
	content: "\f39e";
}
.i-flickr:before {
	content: "\f16e";
}
.i-foursquare:before {
	content: "\f180";
}
.i-instagram:before {
	content: "\f16d";
}
.i-kickstarter:before {
	content: "\f3bc";
}
.i-lastfm:before {
	content: "\f202";
}
.i-linkedin:before {
	content: "\f0e1";
}
.i-medium:before {
	content: "\f3c7";
}
.i-patreon:before {
	content: "\f3d9";
}
.i-pinterest:before {
	content: "\f231";
}
.i-reddit:before {
	content: "\f281";
}
.i-slack:before {
	content: "\f198";
}
.i-snapchat:before {
	content: "\f2ac";
}
.i-soundcloud:before {
	content: "\f1be";
}
.i-spotify:before {
	content: "\f1bc";
}
.i-stack-overflow:before {
	content: "\f16c";
}
.i-steam:before {
	content: "\f3f6";
}
.i-tiktok:before {
	content: "\f173";
}
.i-tumblr:before {
	content: "\f173";
}
.i-telegram:before {
	content: "\f3fe";
}
.i-twitch:before {
	content: "\f1e8";
}
.i-x:before {
	content: "\f099";
}
.i-vimeo:before {
	content: "\f27d";
}
.i-vk:before {
	content: "\f189";
}
.i-whatsapp:before {
	content: "\f232";
}
.i-weibo:before {
	content: "\f18a";
}
.i-youtube:before {
	content: "\f167";
}
.i-line:before {
	content: "\f3c0";
}
.i-viber:before {
	content: "\f409";
}
.i-naver:before {
	content: "\f411";
}
/* Icon Colors */
.i-500px:hover {
	color: #0099e5;
}
.i-behance:hover {
	color: #053eff;
}
.i-deviantart:hover {
	color: #05cc47;
}
.i-discord:hover {
	color: #5865f2;
}
.i-dribbble:hover {
	color: #ea4c89;
}
.i-etsy:hover {
	color: #eb6d20;
}
.i-facebook:hover {
	color: #3e5b98;
}
.i-flickr:hover {
	color: #f40083;
}
.i-foursquare:hover {
	color: #f94877;
}
.i-instagram:hover {
	color: #c32aa3;
}
.i-kickstarter:hover {
	color: #05ce78;
}
.i-lastfm:hover {
	color: #c3000d;
}
.i-linkedin:hover {
	color: #0a66c2;
}
.i-medium:hover {
	color: #02b875;
}
.i-patreon:hover {
	color: #f96854;
}
.i-pinterest:hover {
	color: #bd081c;
}
.i-reddit:hover {
	color: #ff4500;
}
.i-slack:hover {
	color: #4a154b;
}
.i-snapchat:hover {
	color: #fffc00;
}
.i-soundcloud:hover {
	color: #ff5500;
}
.i-spotify:hover {
	color: #1ed760;
}
.i-steam:hover {
	color: #1ed760;
}
.i-stack-overflow:hover {
	color: #F48024;
}
.i-tiktok:hover {
	color: #010101;
}
.i-tumblr:hover {
	color: #35465d;
}
.i-telegram:hover {
	color: #0088cc;
}
.i-twitch:hover {
	color: #9146ff;
}
.i-twitter:hover {
	color: #4da7de;
}
.i-vimeo:hover {
	color: #1ab7ea;
}
.i-vk:hover {
	color: #4a76a8;
}
.i-whatsapp:hover {
	color: #25d366;
}
.i-weibo:hover {
	color: #DF2029;
}
.i-youtube:hover {
	color: #ff0000;
}
#customize-control-laura_home_number_columns .radio-button-label,
#customize-control-laura_category_number_columns .radio-button-label,
#customize-control-laura_tag_number_columns .radio-button-label,
#customize-control-laura_author_number_columns .radio-button-label,
#customize-control-laura_search_number_columns .radio-button-label,
#customize-control-laura_archive_number_columns .radio-button-label,
#customize-control-laura_footer_column .radio-button-label {
	display: inline;
}
#customize-control-laura_home_number_columns .radio-button-label  img,
#customize-control-laura_category_number_columns .radio-button-label  img,
#customize-control-laura_tag_number_columns .radio-button-label  img,
#customize-control-laura_author_number_columns .radio-button-label  img,
#customize-control-laura_search_number_columns .radio-button-label  img,
#customize-control-laura_archive_number_columns .radio-button-label  img,
#customize-control-laura_footer_column .radio-button-label img {
	width: 49%;
	max-width: none !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#customize-control-laura_footer_show,
#customize-control-laura_footer_column_notice,
#customize-control-laura_footer_show_bottom_bar {
    padding-bottom: 0;
    margin-bottom: 0;
}
.customize-control {
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}
.customize-control-title {
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.toggle-switch {
    width: 60px;
}
.toggle-switch .toggle-switch-label {
	border-radius: 30px;
}
.toggle-switch-switch {
	right: 34px;
}
.toggle-switch-inner:before,
.toggle-switch-inner:after {
	height: 20px;
	font-size: 12px;
}
input[type="text"] {
    border: 1px solid #7d7d7d;
}
#customize-control-laura_custom_author_avatar,
#customize-control-laura_remove_body_class,
#customize-control-laura_remove_menu_item_class,
#sub-accordion-section-laura_translation_settings > li:nth-child(1n+5) {
	margin-bottom: 0;
}
#customize-control-laura_custom_author_avatar_url,
#customize-control-laura_remove_body_class_exclude,
#customize-control-laura_remove_menu_item_class_exclude {
	padding-top: 0;
}
#customize-control-laura_custom_author_avatar_url .attachment-media-view-image {
    display: flex;
    flex-direction: row;
}
#customize-control-laura_breadcrumbs_character .radio-button-label span {
	padding: 5px 14px;
}
#customize-control-laura_back_to_top_style .radio-button-label span,
#customize-control-laura_member_badges_style .radio-button-label span {
	padding: 5px 8px;
}
#customize-control-laura_member_badges_icon .radio-button-label span {
    padding: 5px 11px;
}
#customize-control-laura_member_badges_icon .radio-button-label span i {
    font-size: 15px;
}
#customize-control-laura_home_number_columns .customize-control-title,
#customize-control-laura_category_number_columns .customize-control-title,
#customize-control-laura_tag_number_columns .customize-control-title,
#customize-control-laura_search_number_columns .customize-control-title,
#customize-control-laura_author_number_columns .customize-control-title,
#customize-control-laura_archive_number_columns .customize-control-title,
#customize-control-laura_home_show_hide .customize-control-title,
#customize-control-laura_single_show_hide .customize-control-title,
#customize-control-laura_category_show_hide .customize-control-title,
#customize-control-laura_tag_show_hide .customize-control-title,
#customize-control-laura_search_show_hide .customize-control-title,
#customize-control-laura_author_show_hide .customize-control-title,
#customize-control-laura_archive_show_hide .customize-control-title,
#customize-control-laura_home_pagination .customize-control-title,
#customize-control-laura_comment_pagination .customize-control-title,
#customize-control-laura_category_pagination .customize-control-title,
#customize-control-laura_tag_pagination .customize-control-title,
#customize-control-laura_search_pagination .customize-control-title,
#customize-control-laura_author_pagination .customize-control-title,
#customize-control-laura_archive_pagination .customize-control-title {
	border-bottom: none;
}
#customize-control-laura_member_badges_level_one_title,
#customize-control-laura_member_badges_level_one_color,
#customize-control-laura_member_badges_level_two_title,
#customize-control-laura_member_badges_level_two_color,
#customize-control-laura_member_badges_level_three_title,
#customize-control-laura_member_badges_level_three_color,
#customize-control-laura_member_badges_level_four_title,
#customize-control-laura_member_badges_level_four_color,
#customize-control-laura_member_badges_level_five_title,
#customize-control-laura_member_badges_level_five_color {
	margin-bottom: 0;
    padding-bottom: 0;
}
/*#customize-control-laura_logo_width,
#customize-control-laura_logo_height {
	display: none;
}*/
#customize-control-laura_logo_width {
    margin-top: -22px;
}
#customize-control-laura_logo_width {
	margin-bottom: 0;
}
#customize-control-laura_logo_height {
	padding-top: 0;
}
#customize-control-laura_logo,
#customize-control-laura_logo_retina {
    margin-bottom: -10px;
}
@media screen and (min-width: 601px) and (min-width: 2220px) {
	.wp-full-overlay.expanded {
		margin-left: 400px;
	}
	.wp-full-overlay-sidebar,
	.wp-full-overlay-footer {
		max-width: 400px!important;
	}
}
/* Colors Settings & Controls */
#customize-control-laura_header_background_color,
#customize-control-laura_sticky_header_background_color,
#customize-control-laura_header_text_color,
#customize-control-laura_header_accent_color,
#customize-control-laura_module_title_color,
#customize-control-laura_module_text_color,
#customize-control-laura_module_accent_color,
#customize-control-laura_content_head_background_color,
#customize-control-laura_content_head_text_color,
#customize-control-laura_content_head_accent_color,
#customize-control-laura_content_head_title_color,
#customize-control-laura_content_head_title_background_color,
#customize-control-laura_content_breadcrumbs_color,
#customize-control-laura_content_breadcrumbs_accent_color,
#customize-control-laura_content_summary_color,
#customize-control-laura_content_background_color,
#customize-control-laura_content_text_color,
#customize-control-laura_content_accent_color,
#customize-control-laura_archive_title_color,
#customize-control-laura_archive_description_color,
#customize-control-laura_footer_background_color,
#customize-control-laura_footer_text_color,
#customize-control-laura_footer_accent_color {
    margin-bottom: 0;
    padding-bottom: 0;
}
#customize-control-laura_header_background_color_dark,
#customize-control-laura_sticky_header_background_color_dark,
#customize-control-laura_header_text_color_dark,
#customize-control-laura_header_accent_color_dark,
#customize-control-laura_module_title_color_dark,
#customize-control-laura_module_text_color_dark,
#customize-control-laura_module_accent_color_dark,
#customize-control-laura_content_head_background_color_dark,
#customize-control-laura_content_head_text_color_dark,
#customize-control-laura_content_head_accent_color_dark,
#customize-control-laura_content_head_title_color_dark,
#customize-control-laura_content_head_title_background_color_dark,
#customize-control-laura_content_breadcrumbs_color_dark,
#customize-control-laura_content_breadcrumbs_accent_color_dark,
#customize-control-laura_content_summary_color_dark,
#customize-control-laura_content_background_color_dark,
#customize-control-laura_content_text_color_dark,
#customize-control-laura_content_accent_color_dark,
#customize-control-laura_archive_title_color_dark,
#customize-control-laura_archive_description_color_dark,
#customize-control-laura_footer_background_color_dark,
#customize-control-laura_footer_text_color_dark,
#customize-control-laura_footer_accent_color_dark {
    padding-top: 2px;
	display: flex;
	justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}
#customize-control-laura_header_background_color_dark .customize-control-title,
#customize-control-laura_sticky_header_background_color_dark .customize-control-title,
#customize-control-laura_header_text_color_dark .customize-control-title,
#customize-control-laura_header_accent_color_dark .customize-control-title,
#customize-control-laura_module_title_color_dark .customize-control-title,
#customize-control-laura_module_text_color_dark .customize-control-title,
#customize-control-laura_module_accent_color_dark .customize-control-title,
#customize-control-laura_content_head_background_color_dark .customize-control-title,
#customize-control-laura_content_head_text_color_dark .customize-control-title,
#customize-control-laura_content_head_accent_color_dark .customize-control-title,
#customize-control-laura_content_head_title_color_dark .customize-control-title,
#customize-control-laura_content_head_title_background_color_dark .customize-control-title,
#customize-control-laura_content_breadcrumbs_color_dark .customize-control-title,
#customize-control-laura_content_breadcrumbs_accent_color_dark .customize-control-title,
#customize-control-laura_content_summary_color_dark .customize-control-title,
#customize-control-laura_content_background_color_dark .customize-control-title,
#customize-control-laura_content_text_color_dark .customize-control-title,
#customize-control-laura_content_accent_color_dark .customize-control-title,
#customize-control-laura_archive_title_color_dark .customize-control-title,
#customize-control-laura_archive_description_color_dark .customize-control-title,
#customize-control-laura_footer_background_color_dark .customize-control-title,
#customize-control-laura_footer_text_color_dark .customize-control-title,
#customize-control-laura_footer_accent_color_dark .customize-control-title{
	border: none;
}
.pill_checkbox_control .checkbox-label > input:checked + .sortable-pill-title {
    background-color: #5865f2;
}
.text_radio_button_control .radio-button-label span:hover {
	color: #5865f2;
}
.image_radio_button_control .radio-button-label > input:checked + img {
	border: 3px solid #5865f2;
}
.slider-custom-control .ui-state-default,
.slider-custom-control .ui-widget-content .ui-state-default,
.slider-custom-control .ui-widget-header .ui-state-default,
.slider-custom-control .ui-button,
.slider-custom-control .ui-button.ui-state-disabled:hover,
.slider-custom-control .ui-button.ui-state-disabled:active {
	background: #5865f2 none repeat scroll 0 0;
	border: 1px solid #5865f2;
}
.toggle-switch-inner:before {
    background-color: #5865f2;
}
.text_radio_button_control .radio-button-label span {
    padding-left: 14px;
	padding-right: 14px;
}
/* Fix */
.pill_checkbox_control .sortable.fullwidth_pills .checkbox-label > .sortable-pill-title {
	width: 89%;
}
.sortable_repeater_control .repeater input[type="text"] {
	margin: 5px 0 5px 0;
	width: calc(100% - 45px);
}
.repeater .dashicons-sort {
	color: #c1c1c1;
	margin: 11px 0 0 5px;
}
.customize-control-sortable-repeater-delete .dashicons-no-alt {
	font-size: 26px;
    color: #c1c1c1;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    margin-top: 5px;
    padding: 0px 15px;
}
.single-accordion-custom-control .single-accordion li {
    width: calc(50% - 20px);
    padding: 5px;
    margin: 5px;
}
.single-accordion-custom-control .single-accordion li:nth-child(odd) {
    margin: 5px 5px 5px 0;
}
.single-accordion-custom-control .single-accordion li:nth-child(even) {
    margin: 5px 0 5px 5px;
}
.slider-custom-control {
	margin-bottom: 0;
}
.slider-custom-control .customize-control-description {
	padding-top: 8px;
    display: inline-block;
}
#accordion-section-colors {
    display: none!important;
}
/* ==========================================================================
   Sortable Checkbox Button Custom Control
   ========================================================================== */
.text_checkbox_button_control:after {
	content: " ";
	display: block;
	clear: both;
}
.text_checkbox_button_control .checkbox-buttons {
	display: inline-block;
	border: 1px solid #f9f9fe;
}
.text_checkbox_button_control .checkbox-button-label {
	cursor: pointer;
	width: 100%;
}
.text_checkbox_button_control .checkbox-button-label > input {
	display: none;
}
.text_checkbox_button_control .checkbox-button-label span {
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #ddd;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 5px;
}
.text_checkbox_button_control .checkbox-button-label > input:checked + span {
	background-color: #2084bd;
	color: #fff;
}
.text_checkbox_button_control .checkbox-button-label > input:checked + span:hover {
	color: #fff;
}
.text_checkbox_button_control .checkbox-button-label > input:checked + span:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "dashicons";
    font-weight: normal;
    font-size: 24px;
    content: "\f147";
    margin-left: -10px;
    vertical-align: bottom;
}
/* laura_featured_content_cat */
.select2-container--default .select2-results__group {
    display: none!important;
}